
body{
    background-color: #e6e6e6;
}



/* nav-bar Styling */
.navbar {
    background-color: rgb(37, 37, 37);
    overflow: hidden;
  }

.nav-brand a {
    float: left;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5rem;
    
  }
  
.topnav a {
    float:inline-end;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
  }


  
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
/*  */