* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-weight: bold;
    margin: 0;
}

header {
    color: #fff;
    background-color: #24252A;
    /* display: flex; */
    align-items: center;
    padding: 10px 10%;
    width: 100%;
  
}

img{
    max-width: 100%;
    height: auto;
}

#odd {
    background-color: rgba(209, 209, 209, 0.616);

}

#even{
    background-color: rgba(221, 221, 221, 0.486);
    
}


