body{
  box-sizing: border-box;
  background-color: #B9B7BD;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}



/* nav-bar Styling */
.navbar {
  background-color: rgb(37, 37, 37);
  overflow: hidden;
}

.nav-brand a {
  float: left;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5rem;
  
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2rem;
}



.topnav a:hover {
  background-color: #ffffff;
  color: black;
}

/* project grid styling */

.grid-container {
display: grid;
grid-template-columns: auto auto auto auto;
grid-gap: 15px;
padding: 10px;
align-content: center;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid-container > div {
background-color: rgba(255, 255, 255, 0.8);
text-align: center;
padding: 15px 0;
font-size: 25px
}


.grid-container .btn {
background-color: rgb(37, 37, 37);
border: none;
border-radius: 10px;
color: white;
padding: 15px 60px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 1px 1px;
cursor: pointer;

}

.grid-container > div:hover {
background-color: #E7D2CC;


}

.grid-container .btn:hover {
background-color: #ffffff;
color: rgb(37, 37, 37);
}

