@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
     box-sizing:border-box;
    margin:0;
    padding:0;
    background-color : #ffffff;
}

/* Header Styling */
li, a, button {
    background-color: #24252A;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;

}

header {
    background-color: #24252A;
    display: flex;
    align-items: center;
    padding: 10px 10%;

}

.logo {
    height: 50px;
    display: flex;
    margin-right: 20px;
    justify-content: space-between;
    background-color: #24252A;
    border-radius: 50%;
}

h2{
    position: relative;
    background-color: #24252A;
    color: #edf0f1;
}

button{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    /* cursor: pointer; */
    /* transition: all 0.3s ease 0s; */
}

button:hover{
    color: #ffffff;
    background-color: rgb(0, 0, 0);
}

/* main Section Styling */
.pw-container {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    min-width: 400px;
    justify-content: center;
}

.pw {
    color:none;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    height: 70px;
    width: 50%;
    position: relative;
    padding: 1rem;
    margin-left: 5rem;
    color:rgb(0, 0, 0);
    overflow: auto;
}

.pw button {
    background-color: rgba(0, 136, 169, 1);
    color:#ffffff;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    padding: 0.25rem;
    position: absolute;
    border-radius: 8px;
    right: 0; 
    /* transform: translate(0, 20%); */
    opacity: 50;
}

.pw:hover button {
    opacity: 10;
    border: 2px solid #008CBA;
    color: aqua;
    background-color: white;
}

.pw-body {
    position: relative;
    justify-content: center;
}

.form-control {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    margin-top: 0.5%;

}

.len{
    color: #fff;
    background-color: #ffffff;
    
}

.generate {
    border: none;
    color: #ffffff;
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.75rem;
    margin-top: 2rem;
    margin-left: 5rem;
    width: 50%;
}

/* Footer Styling */
.footer{
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: #24252A;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
    left: 0;
    bottom: 0;
  }
  
.madeby{
    background-color: #24252A;
     text-align: center;
     margin-top: 4px;
     margin-left: 2px;
     font-weight: 800;
     letter-spacing: 1px;
}
  
a{
  background-color: #24252A;
  color:#D3D3D3;
  text-decoration: none;
  font-style: normal;
  font-weight: 1000;
  cursor: pointer;
}
  
.links{
    text-align: right;
    background-color: #24252A;
}
  
.fa {
    background-color: #24252A;
    padding-bottom: 1rem;
    font-size: 20px;
    width: 25px;
    text-align: center;
    text-decoration: none; 
}
  
.fa:hover {
    opacity: 0.8;
}
  
  